MEMORYX_LOG_LEVEL=INFO
MEMORYX_HOME=./data
MEMORYX_QUEUE_SIZE=256
MEMORYX_WORKERS=2
MEMORYX_HANDLER_TIMEOUT_SECONDS=5
MEMORYX_RETRY_ATTEMPTS=3
MEMORYX_RETRY_BASE_DELAY=0.2
MEMORYX_RETRY_MAX_DELAY=2.0
MEMORYX_DRAIN_TIMEOUT_SECONDS=10
MEMORYX_ENQUEUE_TIMEOUT_SECONDS=0.5
MEMORYX_QUEUE_WARNING_THRESHOLD=0.8
MEMORYX_LOG_ROTATION_BYTES=5242880
MEMORYX_LOG_BACKUP_COUNT=5
